.navbarContainer {
 
    width: 100vh;
    max-height:100px;
    min-height:80px;
    top:0;
    left:0;
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-100%);
    position:fixed;
    background-color: rgb(255, 232, 232);
    mix-blend-mode: difference;

}

@media screen and (max-width:1200px) {
    .navbarContainer {
    display:none;
    /* width: 100vh;
    max-height:50px;
    min-height:80px;
    position:fixed;

    transform:initial;
    transform-origin: initial;
    z-index:99; */
   
   
    }
}

.linkList {
    font-family:'Sono', sans-serif;
    color:rgb(255, 232, 232);
    mix-blend-mode: difference;
    font-weight: 400;
    font-size: 1rem;
    padding-right:5%;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:13%;
    list-style: none;
   
}

.link:hover {
    opacity:0.6;
    transition: opacity 0.3s;
}

.link {
    cursor:pointer;
}